@model Ugani_Restaurant.Models.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYDATCOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDATCOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGTIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
