@model IEnumerable<Ugani_Restaurant.Models.CHITIETDATMONAN>
@using Ugani_Restaurant.Models
@{
    ViewBag.Title = "Chi tiết hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    KHACHHANG kHACHHANG = new KHACHHANG();
}

<h2>Chi tiết hóa đơn</h2>

<h5>Bàn</h5>
@foreach (var i in ViewBag.lsTable)
{
    <span>@i.MABAN</span>
}
<h5>Menu</h5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MONAN.TENMONAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONAN.HINHANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MONAN.TENMONAN)
            </td>
            <td>
                <img src="~/Content/foodimages/@item.MONAN.HINHANH" width="100px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-actions no-color">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Xác nhận
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xác nhận hóa đơn không?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                        <button type="submit" class="btn btn-primary">Tiếp tục </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

