@model IEnumerable<Ugani_Restaurant.Models.HOADON>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NGAYDATCOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIENCOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYDATCOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TONGTIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIENCOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAKH })
        </td>
    </tr>
}

</table>
