@model IEnumerable<Ugani_Restaurant.Models.HOADON>
@using Ugani_Restaurant.Models
@using System
@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    KHACHHANG kHACHHANG = new KHACHHANG();
}

<h2>Danh sách đơn hàng</h2>


<table class="table">
    <tr>
        <th>
           Tên khách hàng
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYDATCOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TINHTRANG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @kHACHHANG.getFullname_Cus(item.AspNetUser.UserName)
    </td>
    <td>
        @item.NGAYDATCOC.Value.ToString("dd/MM/yyyy")
    </td>
    <td>
        @item.TONGTIEN.Value.ToString("#,##0").Replace(',','.') đ
    </td>
    <td>
        @item.TINHTRANG
    </td>
    <td>
        @Html.ActionLink("Xác nhận đơn", "Detailsfood", new { id = item.MAKH, date = item.NGAYDATCOC }, new { @class = "btn btn-primary" })
    </td>
</tr>
}

</table>
